solutions/MH360Partenaires/Workflows/ApprobationAuditEtControlPermanent-206223B5-9C09-EC11-B6E6-000D3A9580DB.json
{"properties":{"connectionReferences":{"shared_sharepointonline_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedsharepointonline_7af64"},"api":{"name":"shared_sharepointonline"}},"shared_approvals_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedapprovals_288e4"},"api":{"name":"shared_approvals"}},"shared_teams_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedteams_b2fe6"},"api":{"name":"shared_teams"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"varAuditEtControl":{"defaultValue":"9e10d250-774e-4ca0-afb9-4b98eb863549","type":"String","metadata":{"schemaName":"new_varAuditEtControl"}},"varSiteSharePoint":{"defaultValue":"https://b1envenue.sharepoint.com/sites/MH360Dev","type":"String","metadata":{"schemaName":"new_varSiteSharePoint"}}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"RefDemande_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RefFormulaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RepondeurAuformulaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NomPartenaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"LienApplication_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"EmailContact_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"IdLigne_Valeur":{"type":"integer","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false}},"required":["RefDemande_Valeur","RefFormulaire_Valeur","RepondeurAuformulaire_Valeur","NomPartenaire_Valeur","LienApplication_Valeur","EmailContact_Valeur","IdLigne_Valeur"]}}}},"actions":{"RefDemande":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"refDemande","type":"string","value":"@{triggerBody()['RefDemande_Valeur']}"}]}},"RefFormulaire":{"runAfter":{"RefDemande":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefFormulaire","type":"string","value":"@{triggerBody()['RefFormulaire_Valeur']}"}]}},"RepondeurAuformulaire":{"runAfter":{"RefFormulaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RepondeurAuformulaire","type":"string","value":"@{triggerBody()['RepondeurAuformulaire_Valeur']}"}]}},"NomPartenaire":{"runAfter":{"RepondeurAuformulaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NomPartenaire","type":"string","value":"@{triggerBody()['NomPartenaire_Valeur']}"}]}},"LienApplication":{"runAfter":{"NomPartenaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"LienApplication","type":"string","value":"@{triggerBody()['LienApplication_Valeur']}"}]}},"IdLigne":{"runAfter":{"EmailContact":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"idligne","type":"integer","value":"@triggerBody()['IdLigne_Valeur']"}]}},"Mettre_à_jour_l'élément":{"runAfter":{"IdLigne":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varAuditEtControl')","id":"@variables('idligne')","item/StatutValidationReponse":"En cours de validation"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Créer_une_approbation":{"runAfter":{"Mettre_à_jour_l'élément":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"CreateAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"Validation de la demande : @{variables('RefFormulaire')} - Direction Audit et contrôl permanent - Partenaire : @{variables('NomPartenaire')}","ApprovalCreationInput/assignedTo":"@{variables('EmailContact')};","ApprovalCreationInput/details":"Bonjour, \nPourriez-vous regarder la demande d'approbations liée à la direction AUDIT ET CONTROL PERMANENT pour :\nRéférence de la demande : @{variables('refDemande')}\nPartenaire : @{variables('NomPartenaire')}\nEn vous remerciant d'avance !","ApprovalCreationInput/itemLink":"@variables('LienApplication')","ApprovalCreationInput/itemLinkDescription":"Lien vers l'application","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Appliquer_à_chacun":{"foreach":"@outputs('Créer_une_approbation')?['body/approvers']","actions":{"Publier_la_carte_adaptative_dans_une_conversation_instantanée_ou_un_canal":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams_1","operationId":"PostCardToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{items('Appliquer_à_chacun')?['email']};","body/messageBody":"@outputs('Créer_une_approbation')?['body/adaptiveCard']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Créer_une_approbation":["Succeeded"]},"type":"Foreach"},"Attendre_une_approbation":{"runAfter":{"Appliquer_à_chacun":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"WaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalName":"@outputs('Créer_une_approbation')?['body/name']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition":{"actions":{"Appliquer_à_chacun_2":{"foreach":"@outputs('Attendre_une_approbation')?['body/responses']","actions":{"Publier_le_message_dans_une_conversation_instantanée_ou_un_canal":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams_1","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('RepondeurAuformulaire')};;","body/messageBody":"<p>Bonjour @{variables('RepondeurAuformulaire')};<br>\nMerci pour le temps consacré ! votre demande a été validé avec succès par <br>\n@{items('Appliquer_à_chacun_2')?['responder/displayName']}<br>\nCommentaires: @{items('Appliquer_à_chacun_2')?['comments']}.<br>\n<br>\nBonne journée !</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"},"Obtenir_les_éléments":{"runAfter":{"Appliquer_à_chacun_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varAuditEtControl')","$filter":"ReferenceFrmAuditEtControl eq '@{variables('RefFormulaire')}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Appliquer_à_chacun_4":{"foreach":"@outputs('Obtenir_les_éléments')?['body/value']","actions":{"Obtenir_l’élément":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varAuditEtControl')","id":"@items('Appliquer_à_chacun_4')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Mettre_à_jour_l'élément_2":{"runAfter":{"Obtenir_l’élément":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varAuditEtControl')","id":"@outputs('Obtenir_l’élément')?['body/ID']","item/StatutValidationReponse":"Validé"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Obtenir_les_éléments":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Attendre_une_approbation":["Succeeded"]},"else":{"actions":{"Appliquer_à_chacun_3":{"foreach":"@outputs('Attendre_une_approbation')?['body/responses']","actions":{"Publier_le_message_dans_une_conversation_instantanée_ou_un_canal_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams_1","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('RepondeurAuformulaire')};;","body/messageBody":"<p>Bonjour @{variables('RepondeurAuformulaire')};<br>\nMerci pour le temps consacré ! votre demande n'a pas été validé avec succès par @{items('Appliquer_à_chacun_3')?['responder/displayName']}<br>\nCommentaires: @{items('Appliquer_à_chacun_3')?['comments']}.<br>\n<br>\nBonne journée !</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"},"Mettre_à_jour_l'élément_3":{"runAfter":{"Appliquer_à_chacun_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varAuditEtControl')","id":"@variables('idligne')","item/StatutValidationReponse":"Enregistré"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@outputs('Attendre_une_approbation')?['body/outcome']","Approve"]},"type":"If"},"EmailContact":{"runAfter":{"LienApplication":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmailContact","type":"string","value":"@{triggerBody()['EmailContact_Valeur']}"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}