solutions/MH360Partenaires/Workflows/Approbation_DTI-BEEE29CB-DA10-EC11-B6E6-000D3A9593F9.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedsharepointonline_fd498"},"api":{"name":"shared_sharepointonline"}},"shared_approvals":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedapprovals_460e0"},"api":{"name":"shared_approvals"}},"shared_teams":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedteams_27b38"},"api":{"name":"shared_teams"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"varDTI":{"defaultValue":"a59d8086-e7d6-4b63-acbe-37d7994bad7f","type":"String","metadata":{"schemaName":"new_varDTI"}},"varSiteSharePoint":{"defaultValue":"https://b1envenue.sharepoint.com/sites/MH360Dev","type":"String","metadata":{"schemaName":"new_varSiteSharePoint"}}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"RefDemande_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RefReponseDTI_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RefReponseCategorie_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RepondeurFormulaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NomPartenaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"LienApp_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"Validateur_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false}},"required":["RefDemande_Valeur","RefReponseDTI_Valeur","RefReponseCategorie_Valeur","RepondeurFormulaire_Valeur","NomPartenaire_Valeur","LienApp_Valeur","Validateur_Valeur"]}}}},"actions":{"RefDemande":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefDemande","type":"string","value":"@{triggerBody()['RefDemande_Valeur']}"}]}},"RefReponseDTI":{"runAfter":{"RefDemande":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefReponseDTI","type":"string","value":"@{triggerBody()['RefReponseDTI_Valeur']}"}]}},"RefReponseCategorie":{"runAfter":{"RefReponseDTI":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefReponseCategorie","type":"string","value":"@{triggerBody()['RefReponseCategorie_Valeur']}"}]}},"RepondeurFormulaire":{"runAfter":{"RefReponseCategorie":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RepondeurFormulaire","type":"string","value":"@{triggerBody()['RepondeurFormulaire_Valeur']}"}]}},"NomPartenaire":{"runAfter":{"RepondeurFormulaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NomPartenaire","type":"string","value":"@{triggerBody()['NomPartenaire_Valeur']}"}]}},"Obtenir_les_éléments":{"runAfter":{"Validateur":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDTI')","$filter":"ReferenceFrmDTI eq '@{variables('RefReponseDTI')}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Appliquer_à_chacun":{"foreach":"@outputs('Obtenir_les_éléments')?['body/value']","actions":{"Obtenir_l’élément":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDTI')","id":"@items('Appliquer_à_chacun')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Mettre_à_jour_l'élément":{"runAfter":{"Obtenir_l’élément":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDTI')","id":"@outputs('Obtenir_l’élément')?['body/ID']","item/StatutValidation":"En cours de validation"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Obtenir_les_éléments":["Succeeded"]},"type":"Foreach"},"Créer_une_approbation":{"runAfter":{"Appliquer_à_chacun":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_approvals","operationId":"CreateAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"Validation de la demande :  - @{variables('RefReponseCategorie')} - Direction DTI - Partenaire : @{variables('NomPartenaire')}","ApprovalCreationInput/assignedTo":"@{variables('Validateur')};","ApprovalCreationInput/details":"Bonjour, \nPourriez-vous regarder la demande d'approbations liée à la direction DTI pour :\nRéférence de la demande : @{variables('RefReponseCategorie')}\nNom Partenaire :  @{variables('NomPartenaire')}\n\nEn vous remerciant d'avance !","ApprovalCreationInput/itemLink":"@variables('LienApp')","ApprovalCreationInput/itemLinkDescription":"Lien vers l'application DTI","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"LienApp":{"runAfter":{"NomPartenaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"LienApp","type":"string","value":"@{triggerBody()['LienApp_Valeur']}"}]}},"Validateur":{"runAfter":{"LienApp":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Validateur","type":"string","value":"@{triggerBody()['Validateur_Valeur']}"}]}},"Appliquer_à_chacun_2":{"foreach":"@outputs('Créer_une_approbation')?['body/approvers']","actions":{"Publier_la_carte_adaptative_dans_une_conversation_instantanée_ou_un_canal":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostCardToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{items('Appliquer_à_chacun_2')?['email']};","body/messageBody":"@outputs('Créer_une_approbation')?['body/adaptiveCard']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Créer_une_approbation":["Succeeded"]},"type":"Foreach"},"Attendre_une_approbation":{"runAfter":{"Appliquer_à_chacun_2":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"WaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalName":"@outputs('Créer_une_approbation')?['body/name']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition":{"actions":{"Appliquer_à_chacun_3":{"foreach":"@outputs('Attendre_une_approbation')?['body/responses']","actions":{"Publier_le_message_dans_une_conversation_instantanée_ou_un_canal":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('RepondeurFormulaire')};","body/messageBody":"<p>Bonjour @{variables('RepondeurFormulaire')};<br>\n<br>\nMerci pour le temps consacré ! voter demande a été validé avec succès par Mr @{items('Appliquer_à_chacun_3')?['responder/displayName']}.<br>\n<br>\nCommentaire(s): @{items('Appliquer_à_chacun_3')?['comments']}<br>\n<br>\nBonne journée ! </p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"},"Obtenir_les_éléments_2":{"runAfter":{"Appliquer_à_chacun_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDTI')","$filter":"ReferenceFrmDTI eq '@{variables('RefReponseDTI')}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Appliquer_à_chacun_5":{"foreach":"@outputs('Obtenir_les_éléments_2')?['body/value']","actions":{"Obtenir_l’élément_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDTI')","id":"@items('Appliquer_à_chacun_5')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Mettre_à_jour_l'élément_2":{"runAfter":{"Obtenir_l’élément_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDTI')","id":"@outputs('Obtenir_l’élément_2')?['body/ID']","item/StatutValidation":"Validé"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Obtenir_les_éléments_2":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Attendre_une_approbation":["Succeeded"]},"else":{"actions":{"Appliquer_à_chacun_4":{"foreach":"@outputs('Attendre_une_approbation')?['body/responses']","actions":{"Publier_le_message_dans_une_conversation_instantanée_ou_un_canal_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('RepondeurFormulaire')};","body/messageBody":"<p>Bonjour @{variables('RepondeurFormulaire')};<br>\n<br>\nMerci pour le temps consacré ! voter demande n'a pas été validépar Mr @{items('Appliquer_à_chacun_4')?['responder/displayName']}.<br>\n<br>\nCommentaire(s): @{items('Appliquer_à_chacun_4')?['comments']}<br>\n<br>\nBonne journée !</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"},"Obtenir_les_éléments_3":{"runAfter":{"Appliquer_à_chacun_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDTI')","$filter":"ReferenceFrmDTI eq '@{variables('RefReponseDTI')}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Appliquer_à_chacun_6":{"foreach":"@outputs('Obtenir_les_éléments_3')?['body/value']","actions":{"Obtenir_l’élément_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDTI')","id":"@items('Appliquer_à_chacun_6')?['ID']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Mettre_à_jour_l'élément_3":{"runAfter":{"Obtenir_l’élément_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDTI')","id":"@outputs('Obtenir_l’élément_3')?['body/ID']","item/StatutValidation":"Enregistré"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Obtenir_les_éléments_3":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@outputs('Attendre_une_approbation')?['body/outcome']","Approve"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}