solutions/MH360Partenaires/Workflows/DDMESS_EnvoiDemandeValidation-307F56E8-B7EE-EB11-94EF-000D3A959D26.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedsharepointonline_3cb68"},"api":{"name":"shared_sharepointonline"}},"shared_approvals":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedapprovals_288e4"},"api":{"name":"shared_approvals"}},"shared_teams":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedteams_b2fe6"},"api":{"name":"shared_teams"}},"shared_sharepointonline_2":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedsharepointonline_5fbbc"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"varDDMESS":{"defaultValue":"7b7bed96-21c2-4ba9-add7-530cd3e6dfdd","type":"String","metadata":{"schemaName":"new_varDDMESS"}},"varSiteSharePoint":{"defaultValue":"https://b1envenue.sharepoint.com/sites/MH360Dev","type":"String","metadata":{"schemaName":"new_varSiteSharePoint"}}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"RefDemande_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RefReponseFormulaireDDMESS_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RepondeurAuFormulaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NomPartenaite_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"LienApplication_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"EmailContact_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"IDligne_Valeur":{"type":"integer","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false}},"required":["RefDemande_Valeur","RefReponseFormulaireDDMESS_Valeur","RepondeurAuFormulaire_Valeur","NomPartenaite_Valeur","LienApplication_Valeur","EmailContact_Valeur","IDligne_Valeur"]}}}},"actions":{"RefDemande":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefDemande","type":"string","value":"@{triggerBody()['RefDemande_Valeur']}"}]}},"RefReponseFormulaireDDMESS":{"runAfter":{"RefDemande":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefReponseFormulaireDDMESS","type":"string","value":"@{triggerBody()['RefReponseFormulaireDDMESS_Valeur']}"}]}},"RepondeurAuFormulaire":{"runAfter":{"RefReponseFormulaireDDMESS":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RepondeurAuFormulaire","type":"string","value":"@{triggerBody()['RepondeurAuFormulaire_Valeur']}"}]}},"NomPartenaite":{"runAfter":{"RepondeurAuFormulaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NomPartenaite","type":"string","value":"@{triggerBody()['NomPartenaite_Valeur']}"}]}},"LienApplication":{"runAfter":{"NomPartenaite":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"LienApplication","type":"string","value":"@{triggerBody()['LienApplication_Valeur']}"}]}},"IDligne":{"runAfter":{"EmailContact":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IDligne","type":"integer","value":"@triggerBody()['IDligne_Valeur']"}]}},"Mettre_à_jour_l'élément":{"runAfter":{"IDligne":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDDMESS')","id":"@variables('IDligne')","item/StatutValidationReponse":"En cours de validation"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Créer_une_approbation":{"runAfter":{"Mettre_à_jour_l'élément":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_approvals","operationId":"CreateAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"Validation de la demande :@{variables('RefReponseFormulaireDDMESS')}  - Direction DDMESS- Partenaire: @{variables('NomPartenaite')}","ApprovalCreationInput/assignedTo":"@{variables('Email-Contact')};","ApprovalCreationInput/details":"Bonjour, \nPourriez-vous regarder la demande d'approbations liée à la direction DDMESS pour :\nRéférence de la demande : @{variables('RefDemande')}\nNom Partenaire : @{variables('NomPartenaite')}\nEn vous remerciant d'avance !","ApprovalCreationInput/itemLink":"@variables('LienApplication')","ApprovalCreationInput/itemLinkDescription":"Lien vers l'application DDMESS","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Appliquer_à_chacun":{"foreach":"@outputs('Créer_une_approbation')?['body/approvers']","actions":{"Publier_la_carte_adaptative_dans_une_conversation_instantanée_ou_un_canal":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostCardToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{items('Appliquer_à_chacun')?['email']};","body/messageBody":"@outputs('Créer_une_approbation')?['body/adaptiveCard']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Créer_une_approbation":["Succeeded"]},"type":"Foreach"},"Attendre_une_approbation":{"runAfter":{"Appliquer_à_chacun":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"WaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalName":"@outputs('Créer_une_approbation')?['body/name']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition":{"actions":{"Appliquer_à_chacun_2":{"foreach":"@outputs('Attendre_une_approbation')?['body/responses']","actions":{"Publier_le_message_dans_une_conversation_instantanée_ou_un_canal":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('RepondeurAuFormulaire')};","body/messageBody":"<p>Bonjour &nbsp;@{variables('RepondeurAuFormulaire')},<br>\n<br>\nMerci pour le temps consacré ! Votre demande a été validée avec succès par<br>\n@{items('Appliquer_à_chacun_2')?['responder/displayName']}<br>\n<br>\nCommentaire: @{items('Appliquer_à_chacun_2')?['comments']}<br>\nBonne journée.</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"},"Mettre_à_jour_l'élément_2":{"runAfter":{"Appliquer_à_chacun_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDDMESS')","id":"@variables('IDligne')","item/StatutValidationReponse":"Validé"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Attendre_une_approbation":["Succeeded"]},"else":{"actions":{"Appliquer_à_chacun_4":{"foreach":"@outputs('Attendre_une_approbation')?['body/responses']","actions":{"Publier_le_message_dans_une_conversation_instantanée_ou_un_canal_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('RepondeurAuFormulaire')};","body/messageBody":"<p>Bonjour &nbsp;@{variables('RepondeurAuFormulaire')},<br>\n<br>\nMerci pour le temps consacré ! Malheureusement, votre demande n’a pas été validée par @{items('Appliquer_à_chacun_4')?['responder/displayName']}<br>\n<br>\nCommentaires : @{items('Appliquer_à_chacun_4')?['comments']}<br>\nBonne journée.</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"},"Mettre_à_jour_l'élément_3":{"runAfter":{"Appliquer_à_chacun_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_2","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDDMESS')","id":"@variables('IDligne')","item/StatutValidationReponse":"Enregistré"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@outputs('Attendre_une_approbation')?['body/outcome']","Approve"]},"type":"If"},"EmailContact":{"runAfter":{"LienApplication":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Email-Contact","type":"string","value":"@{triggerBody()['EmailContact_Valeur']}"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}