solutions/MH360Partenaires/Workflows/EnvoyerDemandeDirections-27BCDDC1-E6C9-EB11-BACC-0022486FADAE.json
{"properties":{"connectionReferences":{"shared_office365_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedoffice365_a0dbb"},"api":{"name":"shared_office365"}},"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedsharepointonline_7af64"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"varSiteSharePoint":{"defaultValue":"https://b1envenue.sharepoint.com/sites/MH360Dev","type":"String","metadata":{"schemaName":"new_varSiteSharePoint"}},"varDemandes":{"defaultValue":"ba2361fc-98e7-4693-a0ab-f601b5a8182e","type":"String","metadata":{"schemaName":"new_varDemandes","description":"Demandes"}}},"triggers":{"manual":{"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Partenaire","type":"string","x-ms-dynamically-added":true,"description":"Partenaire","x-ms-content-hint":"TEXT"},"text_1":{"title":"RefDemande","type":"string","x-ms-dynamically-added":true,"description":"RefDemande","x-ms-content-hint":"TEXT"},"text_2":{"title":"LienCotisation","type":"string","x-ms-dynamically-added":true,"description":"LienCotisation","x-ms-content-hint":"TEXT"},"text_3":{"title":"LienDSO","type":"string","x-ms-dynamically-added":true,"description":"LienDSO","x-ms-content-hint":"TEXT"},"text_4":{"title":"LienDDMESS","type":"string","x-ms-dynamically-added":true,"description":"LienDDMESS","x-ms-content-hint":"TEXT"},"text_5":{"title":"LienAuditControle","type":"string","x-ms-dynamically-added":true,"description":"LienAuditControle","x-ms-content-hint":"TEXT"},"text_6":{"title":"LienPartenariatDelegataire","type":"string","x-ms-dynamically-added":true,"description":"LienPartenariatDelegataire","x-ms-content-hint":"TEXT"},"text_7":{"title":"LienPartenariatSante","type":"string","x-ms-dynamically-added":true,"description":"LienPartenariatSante","x-ms-content-hint":"TEXT"},"text_8":{"title":"LienDTI","type":"string","x-ms-dynamically-added":true,"description":"LienDTI","x-ms-content-hint":"TEXT"},"text_9":{"title":"LienPrestation","type":"string","x-ms-dynamically-added":true,"description":"LienPrestation","x-ms-content-hint":"TEXT"},"text_10":{"title":"ListeEmailDSO","type":"string","x-ms-dynamically-added":true,"description":"ListeEmailDSO","x-ms-content-hint":"TEXT"},"text_11":{"title":"ListeEmailCotisation","type":"string","x-ms-dynamically-added":true,"description":"ListeEmailCotisation","x-ms-content-hint":"TEXT"},"text_12":{"title":"ListeEmailDDMESS","type":"string","x-ms-dynamically-added":true,"description":"ListeEmailDDMESS","x-ms-content-hint":"TEXT"},"text_13":{"title":"ListeEmailAuditControle","type":"string","x-ms-dynamically-added":true,"description":"ListeEmailAuditControle","x-ms-content-hint":"TEXT"},"text_14":{"title":"ListeEmailPartenariatDelegataire","type":"string","x-ms-dynamically-added":true,"description":"ListeEmailPartenariatDelegataire","x-ms-content-hint":"TEXT"},"text_15":{"title":"ListeEmailDTI","type":"string","x-ms-dynamically-added":true,"description":"ListeEmailDTI","x-ms-content-hint":"TEXT"},"text_16":{"title":"ListeEmailPrestation","type":"string","x-ms-dynamically-added":true,"description":"ListeEmailPrestation","x-ms-content-hint":"TEXT"},"text_17":{"title":"ListeEmailPartenariatSante","type":"string","x-ms-dynamically-added":true,"description":"ListeEmailPartenariatSante","x-ms-content-hint":"TEXT"},"text_18":{"title":"Expediteur","type":"string","x-ms-dynamically-added":true,"description":"Expediteur","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5","text_6","text_7","text_8","text_9","text_10","text_11","text_12","text_13","text_14","text_15","text_16","text_17","text_18"]}}}},"actions":{"Envoie_Email_Cotisation":{"runAfter":{"Délai":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerBody()['text_11']","emailMessage/Subject":"Cotisation - Collecte information sur le partenaire @{triggerBody()['text']}","emailMessage/Body":"<p>Bonjour,<br>\n<br>\nJe vous adresse une nouvelle demande concernant la collecte des informations sur le partenaire @{triggerBody()['text']}. A ce titre, je vous invite à compléter vos éléments en accédant au formulaire disponible à cette adresse <a HREF=\"@{triggerBody()['text_2']}\">Ici</a> . Vous disposez de 5 jours pour assurer la complétude des informations. N’hésitez pas dans les champs commentaires à être exhaustifs et détaillés car nous aurons besoin du plus de détail possible pour préparer ces ateliers et ainsi être incisifs lors de ces entretiens avec le partenaire.<br>\n<br>\nUn grand merci à tous pour le temps que vous prendrez à faire ce travail.</p>","emailMessage/From":"@triggerBody()['text_18']"},"authentication":"@parameters('$authentication')"}},"Envoie_Email_Partenariat_Delegataire":{"runAfter":{"Délai":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerBody()['text_14']","emailMessage/Subject":"Partenariat Delegataire - Collecte information sur le partenaire @{triggerBody()['text']}","emailMessage/Body":"<p>Bonjour,<br>\n<br>\nJe vous adresse une nouvelle demande concernant la collecte des informations sur le partenaire @{triggerBody()['text']}. A ce titre, je vous invite à compléter vos éléments en accédant au formulaire disponible à cette adresse <a HREF=\"@{triggerBody()['text_6']}\">Ici</a> . Vous disposez de 5 jours pour assurer la complétude des informations. N’hésitez pas dans les champs commentaires à être exhaustifs et détaillés car nous aurons besoin du plus de détail possible pour préparer ces ateliers et ainsi être incisifs lors de ces entretiens avec le partenaire.<br>\n<br>\nUn grand merci à tous pour le temps que vous prendrez à faire ce travail.</p>","emailMessage/From":"@triggerBody()['text_18']"},"authentication":"@parameters('$authentication')"}},"Envoie_Email_DSO":{"runAfter":{"Délai":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerBody()['text_10']","emailMessage/Subject":"DSO- Collecte information sur le partenaire @{triggerBody()['text']}","emailMessage/Body":"<p>Bonjour,<br>\n<br>\nJe vous adresse une nouvelle demande concernant la collecte des informations sur le partenaire @{triggerBody()['text']}. A ce titre, je vous invite à compléter vos éléments en accédant au formulaire disponible à cette adresse <a HREF=\"@{triggerBody()['text_3']}\">Ici</a> . Vous disposez de 5 jours pour assurer la complétude des informations. N’hésitez pas dans les champs commentaires à être exhaustifs et détaillés car nous aurons besoin du plus de détail possible pour préparer ces ateliers et ainsi être incisifs lors de ces entretiens avec le partenaire.<br>\n<br>\nUn grand merci à tous pour le temps que vous prendrez à faire ce travail.</p>","emailMessage/From":"@triggerBody()['text_18']"},"authentication":"@parameters('$authentication')"}},"Envoie_Email_Prestation":{"runAfter":{"Envoie_Email_Cotisation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerBody()['text_16']","emailMessage/Subject":"Prestation - Collecte information sur le partenaire @{triggerBody()['text']}","emailMessage/Body":"<p>Bonjour,<br>\n<br>\nJe vous adresse une nouvelle demande concernant la collecte des informations sur le partenaire @{triggerBody()['text']}. A ce titre, je vous invite à compléter vos éléments en accédant au formulaire disponible à cette adresse <a HREF=\"@{triggerBody()['text_9']}\">Ici</a> . Vous disposez de 5 jours pour assurer la complétude des informations. N’hésitez pas dans les champs commentaires à être exhaustifs et détaillés car nous aurons besoin du plus de détail possible pour préparer ces ateliers et ainsi être incisifs lors de ces entretiens avec le partenaire.<br>\n<br>\nUn grand merci à tous pour le temps que vous prendrez à faire ce travail.</p>","emailMessage/From":"@triggerBody()['text_18']"},"authentication":"@parameters('$authentication')"}},"Envoie_Email_DDMESS":{"runAfter":{"Envoie_Email_Partenariat_Delegataire":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerBody()['text_12']","emailMessage/Subject":"DDMESS - Collecte information sur le partenaire @{triggerBody()['text']}","emailMessage/Body":"<p>Bonjour,<br>\n<br>\nJe vous adresse une nouvelle demande concernant la collecte des informations sur le partenaire @{triggerBody()['text']}. A ce titre, je vous invite à compléter vos éléments en accédant au formulaire disponible à cette adresse <a HREF=\"@{triggerBody()['text_4']}\">Ici</a> . Vous disposez de 5 jours pour assurer la complétude des informations. N’hésitez pas dans les champs commentaires à être exhaustifs et détaillés car nous aurons besoin du plus de détail possible pour préparer ces ateliers et ainsi être incisifs lors de ces entretiens avec le partenaire.<br>\n<br>\nUn grand merci à tous pour le temps que vous prendrez à faire ce travail.</p>","emailMessage/From":"@triggerBody()['text_18']"},"authentication":"@parameters('$authentication')"}},"Envoie_Email_Partenariat_Sante":{"runAfter":{"Envoie_Email_DSO":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerBody()['text_17']","emailMessage/Subject":"Partenariat Sante - Collecte information sur le partenaire @{triggerBody()['text']}","emailMessage/Body":"<p>Bonjour,<br>\n<br>\nJe vous adresse une nouvelle demande concernant la collecte des informations sur le partenaire @{triggerBody()['text']}. A ce titre, je vous invite à compléter vos éléments en accédant au formulaire disponible à cette adresse <a HREF=\"@{triggerBody()['text_7']}\">Ici</a> . Vous disposez de 5 jours pour assurer la complétude des informations. N’hésitez pas dans les champs commentaires à être exhaustifs et détaillés car nous aurons besoin du plus de détail possible pour préparer ces ateliers et ainsi être incisifs lors de ces entretiens avec le partenaire.<br>\n<br>\nUn grand merci à tous pour le temps que vous prendrez à faire ce travail.</p>","emailMessage/From":"@triggerBody()['text_18']"},"authentication":"@parameters('$authentication')"}},"Envoie_Email_DTI":{"runAfter":{"Envoie_Email_Prestation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerBody()['text_15']","emailMessage/Subject":"DTI - Collecte information sur le partenaire @{triggerBody()['text']}","emailMessage/Body":"<p>Bonjour,<br>\n<br>\nJe vous adresse une nouvelle demande concernant la collecte des informations sur le partenaire @{triggerBody()['text']}. A ce titre, je vous invite à compléter vos éléments en accédant au formulaire disponible à cette adresse <a HREF=\"@{triggerBody()['text_8']}\">Ici</a> . Vous disposez de 5 jours pour assurer la complétude des informations. N’hésitez pas dans les champs commentaires à être exhaustifs et détaillés car nous aurons besoin du plus de détail possible pour préparer ces ateliers et ainsi être incisifs lors de ces entretiens avec le partenaire.<br>\n<br>\nUn grand merci à tous pour le temps que vous prendrez à faire ce travail.</p>","emailMessage/From":"@triggerBody()['text_18']"},"authentication":"@parameters('$authentication')"}},"Envoie_Email_Audit_et_Control":{"runAfter":{"Envoie_Email_DDMESS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerBody()['text_13']","emailMessage/Subject":"Audit et Contrôle Permanent - Collecte information sur le partenaire @{triggerBody()['text']}","emailMessage/Body":"<p>Bonjour,<br>\n<br>\nJe vous adresse une nouvelle demande concernant la collecte des informations sur le partenaire @{triggerBody()['text']}. A ce titre, je vous invite à compléter vos éléments en accédant au formulaire disponible à cette adresse <a HREF=\"@{triggerBody()['text_5']}\">Ici</a> . Vous disposez de 5 jours pour assurer la complétude des informations. N’hésitez pas dans les champs commentaires à être exhaustifs et détaillés car nous aurons besoin du plus de détail possible pour préparer ces ateliers et ainsi être incisifs lors de ces entretiens avec le partenaire.<br>\n<br>\nUn grand merci à tous pour le temps que vous prendrez à faire ce travail.</p>","emailMessage/From":"@triggerBody()['text_18']"},"authentication":"@parameters('$authentication')"}},"Obtenir_les_éléments":{"runAfter":{"Envoie_Email_Partenariat_Sante":["Succeeded"],"Envoie_Email_DTI":["Succeeded"],"Envoie_Email_Audit_et_Control":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDemandes')","$filter":"Title eq '@{triggerBody()['text_1']}'"},"authentication":"@parameters('$authentication')"}},"Appliquer_à_chacun":{"foreach":"@outputs('Obtenir_les_éléments')?['body/value']","actions":{"Obtenir_l’élément":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDemandes')","id":"@items('Appliquer_à_chacun')?['ID']"},"authentication":"@parameters('$authentication')"}},"Mettre_à_jour_l'élément":{"runAfter":{"Obtenir_l’élément":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDemandes')","id":"@outputs('Obtenir_l’élément')?['body/ID']","item/StatutEnvoiDemande":"Envoyé"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Obtenir_les_éléments":["Succeeded"]},"type":"Foreach"},"Délai":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}