solutions/MH360Partenaires/Workflows/EnvoiDemandePourValidation-01D0147F-73DD-EB11-BACB-0022486FAD03.json
{"properties":{"connectionReferences":{"shared_approvals_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedapprovals_288e4"},"api":{"name":"shared_approvals"}},"shared_teams_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedteams_b2fe6"},"api":{"name":"shared_teams"}},"shared_sharepointonline_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedsharepointonline_7af64"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"varDSO":{"defaultValue":"4f173a4b-0a90-48a9-8821-58f234e55752","type":"String","metadata":{"schemaName":"new_varDSO","description":"DSO"}},"varSiteSharePoint":{"defaultValue":"https://b1envenue.sharepoint.com/sites/MH360Dev","type":"String","metadata":{"schemaName":"new_varSiteSharePoint"}}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"RefDemande_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RefReponseFormulaireDSO_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RepondeurAuFormulaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NomPartenaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"LienApplication_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"EmailContact_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"IDligne_Valeur":{"type":"integer","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false}},"required":["RefDemande_Valeur","RefReponseFormulaireDSO_Valeur","RepondeurAuFormulaire_Valeur","NomPartenaire_Valeur","LienApplication_Valeur","EmailContact_Valeur","IDligne_Valeur"]}}}},"actions":{"RefDemande":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefDemande","type":"string","value":"@{triggerBody()['RefDemande_Valeur']}"}]}},"RefReponseFormulaireDSO":{"runAfter":{"RefDemande":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefReponseFormulaireDSO","type":"string","value":"@{triggerBody()['RefReponseFormulaireDSO_Valeur']}"}]}},"NomPartenaire":{"runAfter":{"RepondeurAuFormulaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NomPartenaire","type":"string","value":"@{triggerBody()['NomPartenaire_Valeur']}"}]}},"Attendre_une_approbation":{"runAfter":{"Appliquer_à_chacun":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"WaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalName":"@outputs('Créer_une_approbation')?['body/name']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition":{"actions":{"Appliquer_à_chacun_3":{"foreach":"@outputs('Attendre_une_approbation')?['body/responses']","actions":{"Informer_l'utilisateur_de_la_validation_de_ses_réponses_":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams_1","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('RepondeurAuFormulaire')};","body/messageBody":"<p>Bonjour &nbsp;@{variables('RepondeurAuFormulaire')},<br>\n<br>\nMerci pour le temps consacré ! votre demande a été validé avec succès par @{items('Appliquer_à_chacun_3')?['responder/displayName']}!<br>\n<br>\nCommentaire: @{items('Appliquer_à_chacun_3')?['comments']}<br>\nBonne journée !</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"},"Mettre_à_jour_l'élément":{"runAfter":{"Appliquer_à_chacun_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDSO')","id":"@variables('IDligne')","item/StatutValidationReponse":"Validé"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Attendre_une_approbation":["Succeeded"]},"else":{"actions":{"Appliquer_à_chacun_4":{"foreach":"@outputs('Attendre_une_approbation')?['body/responses']","actions":{"Informer_l'utilisateur_de_son_rejet_de_ses_réponses":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams_1","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('RepondeurAuFormulaire')};","body/messageBody":"<p>Bonjour &nbsp;@{variables('RepondeurAuFormulaire')},<br>\n<br>\nMerci pour le temps consacré ! nos excuses, votre demande n'a pas été validé par @{items('Appliquer_à_chacun_4')?['responder/displayName']}&nbsp;!<br>\n<br>\nCommentaires: @{items('Appliquer_à_chacun_4')?['comments']}<br>\nBonne journée !</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"},"Mettre_à_jour_l'élément_3":{"runAfter":{"Appliquer_à_chacun_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDSO')","id":"@variables('IDligne')","item/StatutValidationReponse":"Enregistré"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@outputs('Attendre_une_approbation')?['body/outcome']","Approve"]},"type":"If"},"RepondeurAuFormulaire":{"runAfter":{"RefReponseFormulaireDSO":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RepondeurAuFormulaire","type":"string","value":"@{triggerBody()['RepondeurAuFormulaire_Valeur']}"}]}},"LienApplication":{"runAfter":{"NomPartenaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"LienApplication","type":"string","value":"@{triggerBody()['LienApplication_Valeur']}"}]}},"Créer_une_approbation":{"runAfter":{"Mettre_à_jour_l'élément_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"CreateAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"Validation de la demande : @{variables('RefDemande')}  - Direction DSO- Partenaire: @{variables('NomPartenaire')}","ApprovalCreationInput/assignedTo":"@{variables('EmailContact')};","ApprovalCreationInput/details":"Bonjour, \nPourriez-vous regarder la demande d'approbations liée à la direction DSO pour :\nRéférence de la demande : @{variables('RefDemande')}\nNom Partenaire : @{variables('NomPartenaire')}\nEn vous remerciant d'avance !","ApprovalCreationInput/itemLink":"@variables('LienApplication')","ApprovalCreationInput/itemLinkDescription":"Lien vers l'application DSO","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Appliquer_à_chacun":{"foreach":"@outputs('Créer_une_approbation')?['body/approvers']","actions":{"Publier_la_carte_adaptative_dans_une_conversation_instantanée_ou_un_canal":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams_1","operationId":"PostCardToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{items('Appliquer_à_chacun')?['email']};","body/messageBody":"@outputs('Créer_une_approbation')?['body/adaptiveCard']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Créer_une_approbation":["Succeeded"]},"type":"Foreach"},"IDligne":{"runAfter":{"EmailContact":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IDligne","type":"integer","value":"@triggerBody()['IDligne_Valeur']"}]}},"Mettre_à_jour_l'élément_2":{"runAfter":{"IDligne":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDSO')","id":"@variables('IDligne')","item/StatutValidationReponse":"En cours de validation"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"EmailContact":{"runAfter":{"LienApplication":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmailContact","type":"string","value":"@{triggerBody()['EmailContact_Valeur']}"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}