solutions/MH360Partenaires/Workflows/PartenariatDelegataire_EnvoieDemandeValidation-3D426A2E-F503-EC11-B6E7-000D3A9594C5.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedsharepointonline_3cb68"},"api":{"name":"shared_sharepointonline"}},"shared_approvals":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedapprovals_288e4"},"api":{"name":"shared_approvals"}},"shared_teams":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedteams_b2fe6"},"api":{"name":"shared_teams"}},"shared_sharepointonline_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedsharepointonline_7af64"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"varPartenariatDelegataire":{"defaultValue":"a9b0baee-e492-42e8-b411-829c0e3baf33","type":"String","metadata":{"schemaName":"new_varPartenariatDelegataire"}},"varSiteSharePoint":{"defaultValue":"https://b1envenue.sharepoint.com/sites/MH360Dev","type":"String","metadata":{"schemaName":"new_varSiteSharePoint"}}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"RefDemande_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RefReponseFormulairePartenariatDelegataire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RepondeurAuFormulaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NomPartenaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"LienApplication_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"EmailContact_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"IDligne_Valeur":{"type":"integer","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false}},"required":["RefDemande_Valeur","RefReponseFormulairePartenariatDelegataire_Valeur","RepondeurAuFormulaire_Valeur","NomPartenaire_Valeur","LienApplication_Valeur","EmailContact_Valeur","IDligne_Valeur"]}}}},"actions":{"RefDemande":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefDemande","type":"string","value":"@{triggerBody()['RefDemande_Valeur']}"}]}},"RefReponseFormulairePartenariatDelegataire":{"runAfter":{"RefDemande":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefReponseFormulairePartenariatDelegataire","type":"string","value":"@{triggerBody()['RefReponseFormulairePartenariatDelegataire_Valeur']}"}]}},"RepondeurAuFormulaire":{"runAfter":{"RefReponseFormulairePartenariatDelegataire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RepondeurAuFormulaire","type":"string","value":"@{triggerBody()['RepondeurAuFormulaire_Valeur']}"}]}},"NomPartenaire":{"runAfter":{"RepondeurAuFormulaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NomPartenaire","type":"string","value":"@{triggerBody()['NomPartenaire_Valeur']}"}]}},"LienApplication":{"runAfter":{"NomPartenaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"LienApplication","type":"string","value":"@{triggerBody()['LienApplication_Valeur']}"}]}},"EmailContact":{"runAfter":{"LienApplication":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Email-Contact","type":"string","value":"@{triggerBody()['EmailContact_Valeur']}"}]}},"IDligne":{"runAfter":{"EmailContact":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IDligne","type":"integer","value":"@triggerBody()['IDligne_Valeur']"}]}},"Mettre_à_jour_l'élément":{"runAfter":{"IDligne":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varPartenariatDelegataire')","id":"@variables('IDligne')","item/StatutValidation":"En cours de validation"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Créer_une_approbation":{"runAfter":{"Mettre_à_jour_l'élément":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_approvals","operationId":"CreateAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"Validation de la demande :  @{variables('RefReponseFormulairePartenariatDelegataire')} - Direction PARTENARIAT DELEGATAIRE - Partenaire: @{variables('NomPartenaire')}","ApprovalCreationInput/assignedTo":"@{variables('Email-Contact')};","ApprovalCreationInput/details":"Bonjour,\nPourriez-vous regarder la demande d'approbation liée à la direction Partenariat Délégataires pour :\nRéférence de la demande : @{variables('RefDemande')}\nNom partenaire :@{variables('NomPartenaire')}\nEn vous remerciant d'avance !","ApprovalCreationInput/itemLink":"@variables('LienApplication')","ApprovalCreationInput/itemLinkDescription":"Lien vers l'application PARTENARIAT DELEGATAIRES","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Appliquer_à_chacun":{"foreach":"@outputs('Créer_une_approbation')?['body/approvers']","actions":{"Publier_la_carte_adaptative_dans_une_conversation_instantanée_ou_un_canal":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostCardToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{items('Appliquer_à_chacun')?['email']};","body/messageBody":"@outputs('Créer_une_approbation')?['body/adaptiveCard']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Créer_une_approbation":["Succeeded"]},"type":"Foreach"},"Attendre_une_approbation":{"runAfter":{"Appliquer_à_chacun":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"WaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalName":"@outputs('Créer_une_approbation')?['body/name']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition":{"actions":{"Appliquer_à_chacun_2":{"foreach":"@outputs('Attendre_une_approbation')?['body/responses']","actions":{"Publier_le_message_dans_une_conversation_instantanée_ou_un_canal":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('RepondeurAuFormulaire')};","body/messageBody":"<p>Bonjour @{variables('RepondeurAuFormulaire')},<br>\n<br>\nMerci pour le temps consacré ! Votre demande a été validée avec succès par @{items('Appliquer_à_chacun_2')?['responder/displayName']}<br>\n<br>\nCommentaire : @{items('Appliquer_à_chacun_2')?['comments']}.<br>\n<br>\nBonne journée !</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"},"Mettre_à_jour_l'élément_2":{"runAfter":{"Appliquer_à_chacun_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varPartenariatDelegataire')","id":"@variables('IDligne')","item/StatutValidation":"Validé"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Attendre_une_approbation":["Succeeded"]},"else":{"actions":{"Appliquer_à_chacun_3":{"foreach":"@outputs('Attendre_une_approbation')?['body/responses']","actions":{"Publier_le_message_dans_une_conversation_instantanée_ou_un_canal_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('RepondeurAuFormulaire')};","body/messageBody":"<p>Bonjour @{variables('RepondeurAuFormulaire')},<br>\n<br>\nMerci pour le temps conacré ! &nbsp;Nos excuses, votre demande n'a pas été validée par @{items('Appliquer_à_chacun_3')?['responder/displayName']}<br>\n<br>\nCommentaire : @{items('Appliquer_à_chacun_3')?['comments']}.<br>\n<br>\nBonne journée !</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"},"Mettre_à_jour_l'élément_3":{"runAfter":{"Appliquer_à_chacun_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varPartenariatDelegataire')","id":"@outputs('Mettre_à_jour_l''élément')?['body/ID']","item/StatutValidation":"Enregistré"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@outputs('Attendre_une_approbation')?['body/outcome']","Approve"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}