solutions/MH360Partenaires/Workflows/Prestations_EnvoieDemandeValidation-4142FB27-3F07-EC11-B6E7-000D3A959E60.json
{"properties":{"connectionReferences":{"shared_approvals":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedapprovals_288e4"},"api":{"name":"shared_approvals"}},"shared_teams":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedteams_b2fe6"},"api":{"name":"shared_teams"}},"shared_sharepointonline_2":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedsharepointonline_4da13"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"varPrestation":{"defaultValue":"3a4414d6-fd76-42bb-9849-87128a5452cb","type":"String","metadata":{"schemaName":"new_varPrestation"}},"varSiteSharePoint":{"defaultValue":"https://b1envenue.sharepoint.com/sites/MH360Dev","type":"String","metadata":{"schemaName":"new_varSiteSharePoint"}}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"RefDemande_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RefReponseFormulairePrestations_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RepondeurAuFormulaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NomPartenaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"LienApplication_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"EmailContact_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"IDLigne_Valeur":{"type":"integer","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false}},"required":["RefDemande_Valeur","RefReponseFormulairePrestations_Valeur","RepondeurAuFormulaire_Valeur","NomPartenaire_Valeur","LienApplication_Valeur","EmailContact_Valeur","IDLigne_Valeur"]}}}},"actions":{"RefDemande":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefDemande","type":"string","value":"@{triggerBody()['RefDemande_Valeur']}"}]}},"RefReponseFormulairePrestations":{"runAfter":{"RefDemande":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefReponseFormulairePrestations","type":"string","value":"@{triggerBody()['RefReponseFormulairePrestations_Valeur']}"}]}},"RepondeurAuFormulaire":{"runAfter":{"RefReponseFormulairePrestations":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RepondeurAuFormulaire","type":"string","value":"@{triggerBody()['RepondeurAuFormulaire_Valeur']}"}]}},"NomPartenaire":{"runAfter":{"RepondeurAuFormulaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NomPartenaire","type":"string","value":"@{triggerBody()['NomPartenaire_Valeur']}"}]}},"LienApplication":{"runAfter":{"NomPartenaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"LienApplication","type":"string","value":"@{triggerBody()['LienApplication_Valeur']}"}]}},"EmailContact":{"runAfter":{"LienApplication":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Email-Contact","type":"string","value":"@{triggerBody()['EmailContact_Valeur']}"}]}},"IDLigne":{"runAfter":{"EmailContact":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IDLigne","type":"integer","value":"@triggerBody()['IDLigne_Valeur']"}]}},"Créer_une_approbation":{"runAfter":{"Appliquer_à_chacun_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_approvals","operationId":"CreateAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"Validation de la demande : @{variables('RefReponseFormulairePrestations')} - Direction PRESTATIONS - Partenaire : @{variables('NomPartenaire')}","ApprovalCreationInput/assignedTo":"@{variables('Email-Contact')};","ApprovalCreationInput/details":"Bonjour,\nPourriez-vous regarder la demande d'approbation liée à la direction Prestations pour : \nRéférence de la demande : @{variables('RefDemande')}\nNomm Partenaire : @{variables('NomPartenaire')}\nEn vous remerciant d'avance !","ApprovalCreationInput/itemLink":"@variables('LienApplication')","ApprovalCreationInput/itemLinkDescription":"Lien vers l'application PRESTATIONS","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Appliquer_à_chacun":{"foreach":"@outputs('Créer_une_approbation')?['body/approvers']","actions":{"Publier_la_carte_adaptative_dans_une_conversation_instantanée_ou_un_canal":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostCardToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{items('Appliquer_à_chacun')?['email']};","body/messageBody":"@outputs('Créer_une_approbation')?['body/adaptiveCard']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Créer_une_approbation":["Succeeded"]},"type":"Foreach"},"Attendre_une_approbation":{"runAfter":{"Appliquer_à_chacun":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"WaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalName":"@outputs('Créer_une_approbation')?['body/name']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition":{"actions":{"Appliquer_à_chacun_2":{"foreach":"@outputs('Attendre_une_approbation')?['body/responses']","actions":{"Publier_le_message_dans_une_conversation_instantanée_ou_un_canal":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('RepondeurAuFormulaire')};","body/messageBody":"<p>Bonjour @{variables('RepondeurAuFormulaire')},<br>\nMerci pour le temps consacré ! Votre demande a été validée avec succès par @{items('Appliquer_à_chacun_2')?['responder/displayName']}.<br>\nCommentaire : @{items('Appliquer_à_chacun_2')?['comments']}.<br>\nBonne journée !</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"},"Obtenir_les_éléments":{"runAfter":{"Appliquer_à_chacun_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_2","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varPrestation')","$filter":"ReferenceDmPrestation eq '@{variables('RefDemande')}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Appliquer_à_chacun_4":{"foreach":"@outputs('Obtenir_les_éléments')?['body/value']","actions":{"Mettre_à_jour_l'élément_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_2","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varPrestation')","id":"@items('Appliquer_à_chacun_4')?['ID']","item/StatutValidation":"Validé"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Obtenir_les_éléments":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Attendre_une_approbation":["Succeeded"]},"else":{"actions":{"Appliquer_à_chacun_3":{"foreach":"@outputs('Attendre_une_approbation')?['body/responses']","actions":{"Publier_le_message_dans_une_conversation_instantanée_ou_un_canal_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('RepondeurAuFormulaire')};","body/messageBody":"<p>Bonjour @{variables('RepondeurAuFormulaire')},<br>\nMerci pour le temps consacré ! Nos excuses, votre demande n'a pas été validée par @{items('Appliquer_à_chacun_3')?['responder/displayName']}.<br>\nCommentaire :@{items('Appliquer_à_chacun_3')?['comments']}.<br>\n<br>\nBonne journée !</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Mettre_à_jour_l'élément":{"runAfter":{"Publier_le_message_dans_une_conversation_instantanée_ou_un_canal_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_2","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varPrestation')","id":"@variables('IDLigne')","item/StatutValidation":"Enregistré"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"}}},"expression":{"equals":["@outputs('Attendre_une_approbation')?['body/outcome']","Approve"]},"type":"If"},"Obtenir_les_éléments_2":{"runAfter":{"IDLigne":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_2","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varPrestation')","$filter":"ReferenceDmPrestation eq '@{variables('RefDemande')}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Appliquer_à_chacun_5":{"foreach":"@outputs('Obtenir_les_éléments_2')?['body/value']","actions":{"Mettre_à_jour_l'élément_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_2","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varPrestation')","id":"@items('Appliquer_à_chacun_5')?['ID']","item/StatutValidation":"En cours de validation"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Obtenir_les_éléments_2":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}