solutions/MH360Partenaires/Workflows/RelanceDirectionTauxRemplissage-3C31F25D-0B25-EC11-B6E6-0022486FA8E8.json
{"properties":{"connectionReferences":{"shared_office365":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedoffice365_a0dbb"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Direction_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"refDemande_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"LienApplication_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"TauxRemplissage_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"EmailGroupAD_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NomPartenaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false}},"required":["Direction_Valeur","refDemande_Valeur","LienApplication_Valeur","TauxRemplissage_Valeur","EmailGroupAD_Valeur","NomPartenaire_Valeur"]}}}},"actions":{"Direction":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Direction","type":"string","value":"@{triggerBody()['Direction_Valeur']}"}]}},"refDemande":{"runAfter":{"Direction":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefDemande","type":"string","value":"@{triggerBody()['refDemande_Valeur']}"}]}},"LienApplication":{"runAfter":{"refDemande":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"LienApplication","type":"string","value":"@{triggerBody()['LienApplication_Valeur']}"}]}},"TauxRemplissage":{"runAfter":{"LienApplication":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TauxRemplisasge","type":"string","value":"@{triggerBody()['TauxRemplissage_Valeur']}"}]}},"EmailGroupAD":{"runAfter":{"TauxRemplissage":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmailGroupAD","type":"string","value":"@{triggerBody()['EmailGroupAD_Valeur']}"}]}},"Envoyer_un_e-mail_(V2)":{"runAfter":{"NomPartenaire":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('EmailGroupAD')","emailMessage/Subject":"Relance - Remplissage du formulaire ","emailMessage/Body":" Bonjour,<br>\n<br>\nJe sais que le temps manque… mais comme je ne perds pas espoir, je vais sortir les grands moyens.<br>\n<br>\nJ’aimerais obtenir une réponse de votre part concernant le formulaire lié au partenaire : @{variables('NomPartenaire')}<br>\n<br>\nVotre taux de remplissage de ce formulaire est équivalent à @{variables('TauxRemplisasge')}% , pourriez vous faire le nécessaire s'il vous plait !<br>\nLien de l'application :<p><a href=\"@{variables('LienApplication')}\">ICI</a>\n<br><br>\nEn vous remerciant d'avance de votre retour !&nbsp;</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"NomPartenaire":{"runAfter":{"EmailGroupAD":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NomPartenaire","type":"string","value":"@{triggerBody()['NomPartenaire_Valeur']}"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}