solutions/MH360Partenaires/Workflows/ReponsesFormulaireDSO-BD882DCA-41CF-EB11-BACC-0022486FA2DB.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedsharepointonline_fd498"},"api":{"name":"shared_sharepointonline"}},"shared_office365":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedoffice365_a0dbb"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"varDSO":{"defaultValue":"4f173a4b-0a90-48a9-8821-58f234e55752","type":"String","metadata":{"schemaName":"new_varDSO","description":"DSO"}},"varSiteSharePoint":{"defaultValue":"https://b1envenue.sharepoint.com/sites/MH360Dev","type":"String","metadata":{"schemaName":"new_varSiteSharePoint"}}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"RefFormulaireDSO_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NomCollaborateur_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"DateRemontee_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"ServiceOriginePartageInfo_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"DelegataireApporteurAffaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"SiAutreDelegataireapporteur_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NotationQualiterelation_Valeur":{"type":"integer","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NonConcerneNotatioQualite_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"CommentaireAxeAmelioration_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RencontreBlémeSpecifiOuiNon_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"Produits_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NatureBlematiqueRencontre_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"QualiteFluxAgreges_Valeur":{"type":"integer","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NonConcerneQualiteFluxagrege_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"QualiteFluxDetaille_Valeur":{"type":"integer","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RegulariteDonnesreporting_Valeur":{"type":"integer","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"FormatDonnesReporting_Valeur":{"type":"boolean","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NonConcerneFormatDonnees_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NotationRAD_Valeur":{"type":"integer","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"SyntheseQualiteReporting_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"FaitsMarquants20202021_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"SyntheseDSO_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"RefAttentes_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"MoyQualiteReporting_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"MoyenneTotale_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"Ajouterunepiècejointe_Contenudufichier":{"type":"string","format":"binary","description":"Contenu du fichier.","x-ms-powerflows-param-ispartial":false},"NonConcerneQualiteFluxDetail_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NonConcerneRegulariDonneReport_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"SiOuiDelegatairePartenaire_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NotationRentabilite_Valeur":{"type":"integer","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"NonConcerneNotationRenta_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"CommentNotationRenta_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"Envoyerune-mail(V2)_PiècesjointesContenu-1":{"type":"string"},"Envoyerune-mail(V2)_PiècesjointesNom-1":{"type":"string"},"REFDemande_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"Ajouterunepiècejointe_Contenudufichier_1":{"type":"string"},"MoyNotationPriorite_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"TypeApporteur_Valeur":{"type":"string","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false},"TauxRemplissage_Valeur":{"type":"number","description":"Entrer la valeur initiale","x-ms-powerflows-param-ispartial":false}},"required":["RefFormulaireDSO_Valeur","NomCollaborateur_Valeur","DateRemontee_Valeur","ServiceOriginePartageInfo_Valeur","DelegataireApporteurAffaire_Valeur","SiAutreDelegataireapporteur_Valeur","NotationQualiterelation_Valeur","NonConcerneNotatioQualite_Valeur","CommentaireAxeAmelioration_Valeur","RencontreBlémeSpecifiOuiNon_Valeur","Produits_Valeur","NatureBlematiqueRencontre_Valeur","QualiteFluxAgreges_Valeur","NonConcerneQualiteFluxagrege_Valeur","QualiteFluxDetaille_Valeur","RegulariteDonnesreporting_Valeur","FormatDonnesReporting_Valeur","NonConcerneFormatDonnees_Valeur","NotationRAD_Valeur","SyntheseQualiteReporting_Valeur","FaitsMarquants20202021_Valeur","SyntheseDSO_Valeur","RefAttentes_Valeur","MoyQualiteReporting_Valeur","MoyenneTotale_Valeur","Ajouterunepiècejointe_Contenudufichier","NonConcerneQualiteFluxDetail_Valeur","NonConcerneRegulariDonneReport_Valeur","SiOuiDelegatairePartenaire_Valeur","NotationRentabilite_Valeur","NonConcerneNotationRenta_Valeur","CommentNotationRenta_Valeur","Envoyerune-mail(V2)_PiècesjointesContenu-1","Envoyerune-mail(V2)_PiècesjointesNom-1","REFDemande_Valeur","Ajouterunepiècejointe_Contenudufichier_1","MoyNotationPriorite_Valeur","TypeApporteur_Valeur","TauxRemplissage_Valeur"]}}}},"actions":{"Créer_un_élément":{"runAfter":{"TauxRemplissage":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDSO')","item/commentaireNotationRentabilite":"@variables('CommentNotationRenta')","item/ReferenceDmFD":"@variables('RefDemande')","item/Reference_Frm_Cot":"@variables('refFormDSO')","item/Nom_Collaborateur_FrmDSO":"@variables('NomCollaborateur')","item/Date_remontee_FrmDSO":"@variables('DateRemontee')","item/ServiceOrginePartageInfo":"@variables('ServiceOriginePartageInfo')","item/DelegataireApporteurAffaire":"@variables('DelegataireApporteurAffaire')","item/Partenaire":"@variables('SiOuiDelegatairePartenaire')","item/SiAutreDelegataireApportAffaire":"@variables('SiAutreDelegataireapporteur')","item/NotationQualiteRelationCDC":"@variables('NotationQualiterelation')","item/NonConcerneNotationQualite":"@variables('NonConcerneNotatioQualite')","item/CommAxeAmelioration":"@variables('CommentaireAxeAmelioration')","item/RencontreBlematSpecifique":"@variables('RencontreBlémeSpecifiOuiNon')","item/ProduitsImpactes":"@variables('Produits')","item/NatureBlematiRencontre":"@variables('NatureBlematiqueRencontre')","item/NotationRentabilite":"@variables('NotationRentabilite')","item/NonConcerneNotationRentabilite":"@variables('NonConcerneNotationRenta')","item/QualiteFluxAgrege":"@variables('QualiteFluxAgreges')","item/NonConcerneQualiteFluxAgrege":"@variables('NonConcerneQualiteFluxagrege')","item/QualiteFluxDetaille":"@variables('QualiteFluxDetaille')","item/NonConcerneQualiteFlucDetaille":"@variables('NonConcerneQualiteFluxDetail')","item/RegulariteDonnes":"@variables('RegulariteDonnesreporting')","item/NonConcerneRegulariteDonnee":"@variables('NonConcerneRegulariDonneReport')","item/FormatDonnes":"@variables('FormatDonnesReporting')","item/NonConcerneFormatDonnee":"@variables('NonConcerneFormatDonnees')","item/ReportingActiviteDeleqguee":"@variables('RAD')","item/NotationRAD":"@variables('NotationRAD')","item/NonConcerneRAD":"@variables('NonConcerneRAD')","item/SyntheseQualiteReporting":"@variables('SyntheseQualiteReporting')","item/FaitsMarquant2020_2021":"@variables('FaitsMarquants20202021')","item/SynteseDSO":"@variables('SyntheseDSO')","item/MoyenneQualiteReporting":"@variables('MoyQualiteReporting')","item/MoyenneTotale":"@variables('MoyenneTotale')","item/MoyenneNotationPriorite":"@variables('MoyNotationPriorite')","item/TypeApporteur":"@variables('TypeApporteur')","item/TauxRemplissageDSO":"@variables('TauxRemplissage')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"RefFormulaireDSO":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"refFormDSO","type":"string","value":"@{triggerBody()['RefFormulaireDSO_Valeur']}"}]}},"NomCollaborateur":{"runAfter":{"RefFormulaireDSO":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NomCollaborateur","type":"string","value":"@{triggerBody()['NomCollaborateur_Valeur']}"}]}},"DateRemontee":{"runAfter":{"NomCollaborateur":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DateRemontee","type":"string","value":"@{triggerBody()['DateRemontee_Valeur']}"}]}},"ServiceOriginePartageInfo":{"runAfter":{"DateRemontee":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ServiceOriginePartageInfo","type":"string","value":"@{triggerBody()['ServiceOriginePartageInfo_Valeur']}"}]}},"DelegataireApporteurAffaire":{"runAfter":{"ServiceOriginePartageInfo":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DelegataireApporteurAffaire","type":"string","value":"@{triggerBody()['DelegataireApporteurAffaire_Valeur']}"}]}},"SiAutreDelegataireapporteur":{"runAfter":{"SiOuiDelegatairePartenaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"SiAutreDelegataireapporteur","type":"string","value":"@{triggerBody()['SiAutreDelegataireapporteur_Valeur']}"}]}},"NotationQualiterelation":{"runAfter":{"SiAutreDelegataireapporteur":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NotationQualiterelation","type":"integer","value":"@triggerBody()['NotationQualiterelation_Valeur']"}]}},"NonConcerneNotatioQualite":{"runAfter":{"NotationQualiterelation":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NonConcerneNotatioQualite","type":"string","value":"@{triggerBody()['NonConcerneNotatioQualite_Valeur']}"}]}},"CommentaireAxeAmelioration":{"runAfter":{"NonConcerneNotatioQualite":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CommentaireAxeAmelioration","type":"string","value":"@{triggerBody()['CommentaireAxeAmelioration_Valeur']}"}]}},"RencontreBlémeSpecifiOuiNon":{"runAfter":{"CommentNotationRenta":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RencontreBlémeSpecifiOuiNon","type":"string","value":"@{triggerBody()['RencontreBlémeSpecifiOuiNon_Valeur']}"}]}},"Produits":{"runAfter":{"RencontreBlémeSpecifiOuiNon":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Produits","type":"string","value":"@{triggerBody()['Produits_Valeur']}"}]}},"NatureBlematiqueRencontre":{"runAfter":{"Produits":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NatureBlematiqueRencontre","type":"string","value":"@{triggerBody()['NatureBlematiqueRencontre_Valeur']}"}]}},"QualiteFluxAgreges":{"runAfter":{"NatureBlematiqueRencontre":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"QualiteFluxAgreges","type":"integer","value":"@triggerBody()['QualiteFluxAgreges_Valeur']"}]}},"NonConcerneQualiteFluxagrege":{"runAfter":{"QualiteFluxAgreges":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NonConcerneQualiteFluxagrege","type":"string","value":"@{triggerBody()['NonConcerneQualiteFluxagrege_Valeur']}"}]}},"QualiteFluxDetaille":{"runAfter":{"NonConcerneQualiteFluxagrege":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"QualiteFluxDetaille","type":"integer","value":"@triggerBody()['QualiteFluxDetaille_Valeur']"}]}},"RegulariteDonnesreporting":{"runAfter":{"NonConcerneQualiteFluxDetail":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RegulariteDonnesreporting","type":"integer","value":"@triggerBody()['RegulariteDonnesreporting_Valeur']"}]}},"FormatDonnesReporting":{"runAfter":{"NonConcerneRegulariDonneReport":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FormatDonnesReporting","type":"boolean","value":"@triggerBody()['FormatDonnesReporting_Valeur']"}]}},"NonConcerneFormatDonnees":{"runAfter":{"FormatDonnesReporting":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NonConcerneFormatDonnees","type":"string","value":"@{triggerBody()['NonConcerneFormatDonnees_Valeur']}"}]}},"RAD":{"runAfter":{"NonConcerneFormatDonnees":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RAD","type":"string"}]}},"NotationRAD":{"runAfter":{"RAD":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NotationRAD","type":"integer","value":"@triggerBody()['NotationRAD_Valeur']"}]}},"SyntheseQualiteReporting":{"runAfter":{"NonConcerneRAD":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"SyntheseQualiteReporting","type":"string","value":"@{triggerBody()['SyntheseQualiteReporting_Valeur']}"}]}},"FaitsMarquants20202021":{"runAfter":{"SyntheseQualiteReporting":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FaitsMarquants20202021","type":"string","value":"@{triggerBody()['FaitsMarquants20202021_Valeur']}"}]}},"SyntheseDSO":{"runAfter":{"FaitsMarquants20202021":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"SyntheseDSO","type":"string","value":"@{triggerBody()['SyntheseDSO_Valeur']}"}]}},"RefAttentes":{"runAfter":{"SyntheseDSO":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefAttentes","type":"string","value":"@{triggerBody()['RefAttentes_Valeur']}"}]}},"MoyQualiteReporting":{"runAfter":{"RefAttentes":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"MoyQualiteReporting","type":"string","value":"@{triggerBody()['MoyQualiteReporting_Valeur']}"}]}},"MoyenneTotale":{"runAfter":{"MoyQualiteReporting":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"MoyenneTotale","type":"string","value":"@triggerBody()['MoyenneTotale_Valeur']"}]}},"MoyNotationPriorite":{"runAfter":{"MoyenneTotale":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"MoyNotationPriorite","type":"string","value":"@{triggerBody()['MoyNotationPriorite_Valeur']}"}]}},"REFDemande":{"runAfter":{"MoyNotationPriorite":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RefDemande","type":"string","value":"@{triggerBody()['REFDemande_Valeur']}"}]}},"NonConcerneQualiteFluxDetail":{"runAfter":{"QualiteFluxDetaille":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NonConcerneQualiteFluxDetail","type":"string","value":"@{triggerBody()['NonConcerneQualiteFluxDetail_Valeur']}"}]}},"NonConcerneRegulariDonneReport":{"runAfter":{"RegulariteDonnesreporting":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NonConcerneRegulariDonneReport","type":"string","value":"@{triggerBody()['NonConcerneRegulariDonneReport_Valeur']}"}]}},"NonConcerneRAD":{"runAfter":{"NotationRAD":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NonConcerneRAD","type":"string"}]}},"SiOuiDelegatairePartenaire":{"runAfter":{"DelegataireApporteurAffaire":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"SiOuiDelegatairePartenaire","type":"string","value":"@{triggerBody()['SiOuiDelegatairePartenaire_Valeur']}"}]}},"NotationRentabilite":{"runAfter":{"CommentaireAxeAmelioration":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NotationRentabilite","type":"integer","value":"@triggerBody()['NotationRentabilite_Valeur']"}]}},"NonConcerneNotationRenta":{"runAfter":{"NotationRentabilite":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NonConcerneNotationRenta","type":"string","value":"@{triggerBody()['NonConcerneNotationRenta_Valeur']}"}]}},"CommentNotationRenta":{"runAfter":{"NonConcerneNotationRenta":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CommentNotationRenta","type":"string","value":"@{triggerBody()['CommentNotationRenta_Valeur']}"}]}},"Condition":{"actions":{"Envoyer_un_e-mail_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"aicha@neoreeds.com","emailMessage/Subject":"test","emailMessage/Body":"<p>test</p>","emailMessage/Attachments":[{"Name":"@triggerBody()['Envoyerune-mail(V2)_PiècesjointesNom-1']","ContentBytes":"@base64ToBinary(triggerBody()['Envoyerune-mail(V2)_PiècesjointesNom-1'])"}]},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Créer_un_élément":["Succeeded","Failed","Skipped","TimedOut"]},"else":{"actions":{"Ajouter_une_pièce_jointe":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateAttachment","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSiteSharePoint')","table":"@parameters('varDSO')","itemId":"@outputs('Créer_un_élément')?['body/ID']","displayName":"@triggerBody()['Envoyerune-mail(V2)_PiècesjointesNom-1']","body":"@base64ToBinary(triggerBody()['Ajouterunepiècejointe_Contenudufichier'])"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":[1,2]},"type":"If"},"Fin":{"runAfter":{"Condition":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Compose","inputs":"Fin"},"TypeApporteur":{"runAfter":{"REFDemande":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TypeApporteur","type":"string","value":"@{triggerBody()['TypeApporteur_Valeur']}"}]}},"TauxRemplissage":{"runAfter":{"TypeApporteur":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TauxRemplissage","type":"float","value":"@triggerBody()['TauxRemplissage_Valeur']"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}